altgraph==0.17
asgiref==3.4.1
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
charset-normalizer==2.0.7
colorama==0.4.4
defusedxml==0.7.1
Django==3.2.7
et-xmlfile==1.0.1
ffmpeg-python==0.2.0
future==0.18.2
google-api-core==1.25.0
google-auth==1.24.0
google-cloud-core==1.5.0
google-cloud-speech==2.0.1
google-cloud-storage==1.35.0
google-cloud-texttospeech==2.2.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
grpcio==1.35.0
httpie==2.6.0
idna==2.10
jdcal==1.4.1
keyboard==0.13.5
libcst==0.3.16
mypy-extensions==0.4.3
numpy==1.21.4
openpyxl==3.0.6
pefile==2019.4.18
Pillow==8.1.0
playsound==1.2.2
proto-plus==1.13.0
protobuf==3.14.0
py2exe==0.10.2.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/arist/Downloads/PyAudio-0.2.11-cp38-cp38-win_amd64.whl
pycparser==2.20
Pygments==2.10.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PySocks==1.7.1
pytz==2020.5
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
requests-toolbelt==0.9.1
rsa==4.7
six==1.15.0
sqlparse==0.4.2
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.2
Wave==0.0.2
wincertstore==0.2
